*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

html, body {
    height: 100%;
    background: rgb(225, 225, 225);
}

body{
    overflow-x: hidden;
}

/* pagina de login */

.box-login{
    box-shadow: 10px 10px 5px #888888;
    max-width: 600px;
    width: 95%;
    padding: 60px 2%;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.box-login h2{
    text-align: center;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 10px 0;
    color: black;
}

.box-login input[type=text],
.box-login input[type=password]{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 8px;
    margin-top: 8px;
}

.box-login input[type=submit]{
    width: 100px;
    height: 40px;
    cursor: pointer;
    color: white;
    background: #00bfa5;
    border: 0;
    margin-top: 8px;
}

/* Fim pagina de login */

.erro-box{
    width: 100%;
    padding: 8px 2%;
    text-align: center;
    background-color: #f2bfbf;
    color: #a02a1b;
    font-size: 15px;
}

/* painel de controle */

.clear{
    clear: both;
}

.center{
    padding: 0 2%;
    margin: 0 auto;
}

header{
    position: relative;
    left: 300px;
    width: calc(100% - 300px);
    padding: 10px 0;
    background-color: #78909c;
}

.loggout{
    float: right;
}

.loggout a{
    padding: 0 20px;
    position: relative;
    top: 4px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.loggout a > span{
    font-size: 17px;
}

aside{
    overflow-x: hidden;
    overflow-y: auto;
    float: left;
    height: 100%;
    background-color: #455a64;
    width: 300px;
    padding: 10px 0;
    position: fixed;
    left: 0;
    top: 0;
}

.menu-wraper{
    width: 300px;
}

.menu-btn{
    float: left;
    cursor: pointer;
    font-size: 23px;
    color: white;
}

.box-usuario{
    text-align: center;
}

.avatar-usuario{
    text-align: left;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid #2f3d42;
    display: inline-block;
}

.avatar-usuario i{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #2f3d42;
}

.imagem-usuario{
    display: inline-block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid #2f3d42;
    position: relative;
}

.imagem-usuario img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.nome-usuario{
    text-align: center;
    margin-top: 10px;
}

.nome-usuario p{
    color: white;
    font-size: 16px;
    font-weight: normal;
}

/* Conteudo principal do painel */

.w100{
    width: 100%;
}

.w50{
    width: 49%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.content{
    width: calc(100% - 300px);
    position: relative;
    left: 300px;
    padding: 10px;
}

.box-content{
    background: white;
    padding: 30px;
    margin-bottom: 25px;
}

.box-content h2{
	font-weight: 300;
	font-size: 23px;
}

.itens-menu{
    margin-top: 30px;
}

.itens-menu h2{
    text-align: left;
    font-weight: normal;
    font-size: 18px;
    background-color: #2f3d42;
    color: white;
    padding: 8px;
}

.itens-menu a{
    display: block;
    padding: 8px;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid #2f3d42;
}

.box-metricas{
	margin-top:16px;
	padding:0 15px;
}

.box-metrica-single{
	float: left;
	position: relative;
	width: 33.3%;
	background: #F4B03E;
	border: 5px solid white;
}

.box-metricas .box-metrica-single:nth-of-type(2){
	background: #E05C4E;
}

.box-metricas .box-metrica-single:nth-of-type(3){
	background: #0091ea;
}

.box-metrica-wraper{
	padding: 10px 20px;
	text-align: left;
	color: white;
}

.box-metrica-wraper h2{
	font-size: 28px;
}

.box-metrica-wraper p{
	padding: 10px 0;
	font-size: 26px;
}

/* tabela responsiva */

.table-responsive{
    margin:20px auto;
	font-weight: 300;
}

.table-responsive .row:nth-of-type(1){
    font-weight: normal;
	background: #00bfa5;
	padding: 10px;
	color: white;
}

.table-responsive .row{
    color: #777;
	padding: 8px;
	border-bottom: 1px solid #ccc;
}


.col{
    float: left;
    width: 50%;
}

.box-content form{
    margin: 30px 0;
}

.box-content form label{
    font-size: 17px;
    font-weight: 300;
    color: black;
    display: block;
}

.box-content .form-group{
    margin: 15px 0;
}

.box-content form input[type=text],
.box-content form input[type=password]{
    margin-top: 8px;
    font-size: 16px;
    font-weight: normal;
    color: black;
    width: 100%;
    height: 40px;
    padding-left: 8px;
    border: 1px solid #ccc;
}

.box-content form input[type=file]{
    margin-top: 8px;
    border: 1px solid #ccc;
    width: 100%;
    padding: 8px;
}

.box-content form input[type=submit]{
    width: 100px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background: #00bfa5;
    border: 0;
    margin-top: 8px;
}

/* Box de alerta */

.box-alert{
    text-align: center;
    width: 100%;
    padding: 8px 0;
}

.sucesso{
    color: #008000;
    background-color: #dff2bf;
}

.erro{
    background-color: #f2bfbf;
    color: #a02a1b;
}

.menu-active {
    background-color: #3a4b51;
}

.menu-active::before{
    content: '>> ';
}

@media screen and (max-width: 1024px){
	.box-metrica-single{
		width: 100%;
	}
}

@media screen and (max-width: 768px){
	
	.content{
		width: 100%;
		left: 0;
	}

	header{
		left: 0;
		width: 100%;
	}
}

@media screen and (max-width: 500px){
	.w50{
		width: 100%;
	}
	.box-single-metrica{
		width: 100%;
		padding-top: 40%;
	}
}

@media screen and (max-width: 400px){

	.box-metrica-wraper h2{
	font-size: 24px;
	}

	.box-metrica-wraper p{
	padding: 10px 0;
	font-size: 22px;
	}

	.menu-wraper{
		width: 200px;
	}
}

@media screen and (max-width: 380px){
	.items-menu a{
		font-size: 15px;
	}
}

/* fim painel de controle */